* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}


/* NavBar */

.img-logo {
    width: 200px;
}

div i {
    color: white;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}



/* Hero */
#hero {
    background: url('./img/bg-hero.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.menu-container {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    height: 80px;
}


.icon-box {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.icon-box>i {
    color: rgb(255, 94, 0);
}

.form-floating>.form-select {
    background: transparent;
    color: rgba(250, 250, 250, 0.3);
    border-radius: 10px;
    border: none;
}


.form-floating>input {
    background-color: transparent;
    color: black ;
    border: none;
}

.menu-container label {
    color: white !important;
}

.menu-container label::after {
    background-color: transparent !important;
}

.menu-container button {
    background-color: rgb(255, 94, 0);
    height: 100%;
    border: none;
    padding: 0 50px;
}


/* Destaques */

#destaques {
    height: 120vh;
    width: 100%;
}

#destaques .text-destaques {
    padding: 5rem;
}

#destaques .text-destaques h3 {
    font-weight: bold;
    font-size: 2rem;
}

#destaques .text-destaques p {
    color: rgb(255, 94, 0);
}

#destaques .card {
    border: none;
}

#destaques .card {
    content: left !important;
}

#destaques .card-body ul {
     padding-left: 0 !important;
    margin-left: 0 !important;
    text-align: left !important;
    list-style: none;
}

#destaques .card-body ul .link-card {
    padding-left: 1rem;
    color: rgb(255, 94, 0);
    text-decoration: none;
    font-weight:bolder;
    font-size: small;
}

#destaques div ul li a {
    color: rgb(0, 0, 0, 0.7);
    text-decoration: none;
    font-weight:bolder;
    font-size: small;
}


#destaques div ul li i {
    color: rgb(0, 0, 0, 0.4);
    font-size: x-small;
}
