* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

/* NavBar */

.img-logo {
    width: 200px;
}

div i {
    color: white;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}



/* Hero */
#hero {
    background: url('./img/bg-hero.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

#hero h3{
    font-weight: bold;
    font-size: 2rem;
}

.menu-container {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    height: 80px;
}


.icon-box {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.icon-box i {
    color: rgb(255, 94, 0);
}

.form-select:focus {
    outline: none !important;
    box-shadow: none !important;
}

.form-select:focus {
    border: 1px solid #fff; /* OU a cor que quiser */
}


.form-floating .form-select {
    background: transparent;
    color: rgba(250, 250, 250, 0.3);
    border-radius: 10px;
    border: none;
}


.form-floating input {
    background-color: transparent;
    color: black ;
    border: none;
}

.menu-container label {
    color: white !important;
}

.menu-container label::after {
    background-color: transparent !important;
}

.menu-container button {
    background-color: rgb(255, 94, 0);
    height: 100%;
    border: none;
    padding: 0 50px;
}


/* Destaques */

#destaques {
    height: 220vh;
    width: 100%;
}

#destaques .text-destaques {
    padding: 5rem 0;
}

#destaques .text-destaques h3 {
    font-weight: bold;
    font-size: 2rem;
}

#destaques .text-destaques p {
    color: rgb(255, 94, 0);
}


#destaques .card {
    border: none;
    background-color: transparent;
}


#destaques .card {
    content: left !important;
}

#destaques .card-body ul {
     padding-left: 0 !important;
    margin-left: 0 !important;
    text-align: left !important;
    list-style: none;
}

#destaques .card-body ul .link-card {
    padding-left: 1rem;
    color: rgb(255, 94, 0);
    text-decoration: none;
    font-weight:bolder;
    font-size: small;
}

#destaques .cards {
    padding: 0 10rem;
}


#destaques div ul li a {
    color: rgb(0, 0, 0, 0.7);
    text-decoration: none;
    font-weight: bolder;
    font-size: small;
}


#destaques div ul li i {
    color: rgb(0, 0, 0, 0.4);
    font-size: x-small;
}

#destaques .card-destaques .card .card-body p {
    font-size: small;
    color: rgb(0, 0, 0, 0.7);
}

#destaques .card img {
    border-radius: 10px;
}

#destaques .card-destaques .cards {
    padding: 0 !important;
}

.buttom-destaques {
    padding: 2px 15px;
    border: 0.5px solid #000;
    border-color: rgba(0, 0, 0, 0.6);
    border-radius: 10%;
    background-color: transparent;
}

.buttom-destaques i {
    color: rgba(0, 0, 0, 0.6);
}

.price {
    font-weight: bold;
}

.code {
    font-size: small;
    color: rgba(0, 0, 0, 0.3);
}

.info {
    font-size: small;
    font-weight: bold;
}

.text-destaques .card-destaques span, .info::after {
    content: " •";
    margin-left: 8px;
}

.text-destaques .card-destaques span:last-child, .info:last-child:after {
    content: "";
}


/* Exclusivos */

#exclusivos {
    height: 85vh;
    width: 100%;
    background-color: #2F4360;
    padding: 0 10rem;
    color: white;
}

#exclusivos .card-exclusivo {
    background-color: transparent;
    border: none;
    color: white;
}   

#exclusivos h3 {
    font-weight: bold;
    font-size: 2rem;
}

#exclusivos .card-exclusivo img {
    border-radius: 10px;
}

#exclusivos .card-destaques .cards {
    padding: 0 !important;
}

.buttom-exclusivos {
    padding: 2px 15px;
    border: 0.5px solid #000;
    border-color: white;
    border-radius: 10%;
    background-color: transparent;
}

.code-exclusivo {
    font-size: small;
    color: rgb(255, 255, 255, 0.6);
}

#exclusivos .card-exclusivo p {
    font-size: small;
    color: rgb(250, 250, 250, 0.7);
}

/* About */

#about {
    height: 85vh;
    width: 100%;
    padding: 0 10rem;
    background-color: #FAF8F6;
}

#about .card {
    border: none;
    border-radius: 20px;
}

#about .card .card-body {
    padding: 2rem 5rem;
}

#about .card .card-body h6 {
    color: rgb(255, 94, 0, 0.8);
    font-weight: bolder;
}

#about .card .card-body h5 {
    font-size: 2rem;
    font-weight: bold;
}

/* Services */

#services {
    height: 50vh;
    width: 100%;
    padding: 0 10rem;
}

#services .card {
    border: none;
}

#services .card .card-body {
    padding: 2rem;
    height: 12rem;
    background-color: #2F4360;
    border-radius: 20px;
}

#services .card .card-body h6 {
    color: rgb(255, 94, 0, 0.8);
    font-weight: bolder;
    font-size: x-small;
}

#services .card .card-body h5 {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

#services .card .card-body span {
    color: white;
}

.buttom-services {
    padding: 2px 15px;
    border: 0.5px solid #000;
    border-color: white;
    border-radius: 10%;
    background-color: transparent;
}

footer {
    background-color: #2F4360;
    padding: 2rem 10rem;
}

.icon-footer {
    border: 2px solid white;
    padding: 0.5rem;
    border-radius: 10px;
}

.icon-footer-f {
    border: 2px solid white;
    padding: 0.5rem 0.70rem;
    border-radius: 10px;
}